h2, h4 {
  -webkit-margin-before: 15px;
  -webkit-margin-after: 15px;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex {
  display: flex;
}

header {
  top: 0;
  min-height: 69px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  z-index: 1;
  position: fixed;
}

header img {
  margin-left: 10px;
  height: 50px;
}

nav {
  flex-wrap: wrap;
}

nav a {
  text-decoration: underline;
  padding-left: 15px;
  padding-right: 15px;
  color: seashell;
}

#mission {
    margin-top: 69px;
    background-image: url('../images/img-mission-background.jpg');
    background-repeat:  no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 700px;
}

#mission div {
  background-color: black;
  width: 1200px;
}

.featured {
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
}

#products {
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.tea {
  margin: 15px;
}

.tea img {
  width: 300px;
  height: 200px;
}

.tea h4 {
  margin: 10px;
}

#locations {
  min-height: 500px;
  background-image: url('../images/img-locations-background.jpg');
  background-repeat:  no-repeat;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.stores {
  justify-content: center;
  flex-wrap: wrap;
}

.location {
  margin: 15px 20px;
  z-index: 1;
  width: 300px;
  opacity: 1;
  background-color: black;
}

.contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
